.dark{
  background-color: #392E3A;
  transition: background-color 1s, color 1s;
 }
 .light {
 background-color: rgb(255, 250, 250);
 transition: background-color 1s, color 1s;
 }


.image_container{
  width:400px;
  text-align: center;

}








 


 
 

 

 