.book_container{
   padding:80px 20px
}
.section{
   margin:180px 0;
}

@media screen and (max-width:840px){
   .book_container{
      max-width:400px;
      margin: 0 auto;
   }
}
@media screen and (max-width:400px){
   .book_container{
      padding:80px 5px
   }
}