.iconsContainer{
   display:flex;
   justify-content: center;
   gap:20px
}
.vertical{
   flex-direction: column;
   justify-content: center;
}

.iconContainer{
   list-style-type: none; /* Remove bullets */
   color:#eaeaea;
   padding:3px 6px;
   margin-top: 5px;
}
.iconContainer:hover {
   border-color: #8BC53F;
}
.icon{
   color:#eaeaea;
   width:20px;
}