.button a {
   padding: 10px;
   border-radius: 20px;
   text-decoration: none;
   font-size: 14px;
   max-width:180px;
   text-align: center;
   font-weight:500;
   display:flex;
   justify-content: center;
   align-items: center;
}
.button :hover{
   background-color: #8BC53F;
   color:black;
}

/* COLOR THEME  */
.darkButton a{
   color:#eaeaea;
   border:1px solid #eaeaea;
}
.brightButton a{
   color:#0b0b0b;
   border:1px solid #5D9943;
}

