/* ***THEME**** */
.dark_mode {
   background-color: #010101;
   color: #fff;
}

.light_mode {
   color: rgba(15, 15, 15, 0.792);
}

.header_scrolled {
   background-color: #353535ce;
   color: #fff;
}

/* Theme when menu is open */
.dark_headerMenu {
   background-color: #222222;
   color: rgb(159, 159, 159);
}

.headerMenu {
   background-color: #545353;
   color: white;
}

/* ***END THEME**** */

/* ****MAIN CONTAINER**** */
.header {
   position: sticky;
   top: 0;
   width: 100%;
   padding: 10px 0 0px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   z-index: 10;
   transition: background-color 0.8s, color 0.8s;
}

/* HEADER */
.logoContainer {
   margin-left: 40px;
   display: flex;
   gap: 5px;
}

.name {
   font-size: 25px;

}

.nav {
   display: flex;
   gap: 30px;

}

.isActive,
.isInactive {
   text-decoration: none;
   color: inherit;
   position: relative;
   padding-bottom: 2px;
}

/* Nav Hover Effect */
.isInactive::before,
.isActive::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;
   height: 2px;
   background-color: #5D9943;
   /* Border color */
   transition: width 0.4s ease-in-out;
}

.isInactive:hover::before,
.isActive:hover::before {
   width: 100%;
   /* Expand the border to 100% on hover */
}

.settings {
   padding-right: 20px;
}

.menu_icon {
   padding-right: 20px;
   display: none;
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
}

/* ***END HEADER**** */

/* ***DROPDOWN MENU**** */
.menu_open {
   width: 100%;
   height: calc(100vh);
   transition: height 0.6s ease-in-out;
   overflow: hidden;
}

.menu_close {
   width: 100%;
   height: 0;
   overflow: hidden;
   transition: height 0.2s ease-in-out;
}

/* ***END DROPDOWN MENU**** */


@media screen and (max-width: 720px) {

   .nav,
   .settings {
      display: none;
   }

   .menu_icon {
      display: block
   }
}

;