.gallery_image{
   max-width:350px;
   transition: transform 0.3s ease; /* Add a smooth transition for the rotation effect */
   /* Add a small and very light reflection */
   -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
   box-reflect: below 2px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
   transform: rotateY(20deg);
}

@media screen and  (max-width:440px ){
   .gallery_image{
      width:250px;
     
   }
}


 