.light {
   color: rgb(140, 113, 121);
}

.dark {
   color: rgb(223, 206, 206);
}
.testimonials_container{
   margin: 40px 0;
}
.testimonial {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   max-width: 600px; /* Adjust this value based on your design */
   margin: 20px auto;
 }
 .title{
   width:100%;
   text-align: center;
   padding-bottom: 40px;
 }
 
 .testimonial_content {
   display: flex;
   align-items: center;
   text-align: justify;
 }
 
 .quote_left {
   display: inline-block;
   margin-right: 10px; /* Adjust the margin as needed */
   align-self: flex-start;
 }
 
 .quote_content {
   flex: 1;
   font-style: italic;
   font-size: 14px;
   padding:10px 0;
 }
 
 .quote_right {
   display: inline-block;
   margin-left: 10px; /* Adjust the margin as needed */
   align-self: flex-end;
 }


.testimonial_author{
   font-size: 14px;
   padding:5px 40px;
   align-self: flex-start;
}

@media screen and (max-width: 500px){
   .testimonial_content{
      padding:10px 0;
      font-size: 12px;
   }
   .testimonial_author{
      font-size: 12px;
      padding:5px 0;
   }
}